body {
  background-color: white;
  text-align: center;

  font-family: sans-serif;
  font-size: 9pt;
}

#tooltip: hover{
  font-weight: 600;
  text-shadow: 0px 0px 2px white;
  white-space: pre-line;
  fill: black;
  stroke: none;


}


path.land {
  fill: #dddddd;
  stroke: none;
}

path.neighborhood {
  fill: none;
  stroke: white;
  stroke-width: 3.5px;
  pointer-events: none;
}


.active {
  stroke: black !important;
  stroke-width: 1.5px !important;
}

circle.symbol {
  fill-opacity: 0.6;

  stroke: white;
  stroke-width: 1px;
}


/* Legend Font Style */
body {
	font: 15px sans-serif;
}
/*
/* Legend Position Style */
.legend {
	position: relative;
	left:800px;
	top:350px;
}*/
